<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<STYLE type="text/css">
<!--

#map{
	width: 100%;
	height: 95%;
}
#pageheader{
	color: #5aaafa;
	text-align: center;
}
-->
</STYLE>
<title>MAP</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="static/js/three.min.js"></script>
<script type="text/javascript" src="static/js/OrbitControls.js"></script>
<script type="text/javascript" src="static/js/d3.v3.min.js"></script>
<script type="text/javascript" src="static/js/d3-threeD.js"></script>
<script type="text/javascript" src="static/js/topojson.v1.min.js"></script>
<script type="text/javascript" src="static/js/buildMapGUIColour7.js"></script>
</HEAD>
<BODY bgcolor="#001e43" onload="map:init()">
<div id="pageheader" class="pagebanner">
    <h1>Network Activity Map</h1>
</div>
<div>
{% for item in data %}
    <span onclick=someFunction({{ item|safe }});>{{ item }}</span>
{% endfor %}
<div>
<div id="map">
</div>
</BODY>
</HTML>
