<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<STYLE type="text/css">
<!--

#map{
	width: 100%;
	height: 95%;
}
#pageheader{
	color: #5aaafa;
	text-align: center;
}
-->
</STYLE>
<title>MAP</title>
</HEAD>
<BODY bgcolor="#001e43" onload="map:init()">
<div id="pageheader" class="pagebanner">
    <h1>Network Activity Map</h1>
</div>
<!--<select>
    {% for key, value in options.iteritems() %}
    <option value="{{ key }}">{{ value }}</option>
    {% endfor %}
</select>-->
<!--<select>
    {% for key, value in searchOptions.iteritems() %}
    <option value="{{ key }}">{{ value }}</option>
    {% endfor %}-->
</select>
</BODY>
</HTML>